.field td   /*cells of the table*/
{
    background: linear-gradient(to bottom, #c0c0c0,#808080);
    border: 2px solid red;
    height: 28px;
    width: 28px;
    position: relative;
}

.field table {
    border-collapse: collapse;
}

.field td.open{
    background: white;
    text-align: center;
    font-size: 24px;
}

.field td.lock::after{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;/*make a circle */
    background: black;
    left: 10px;
    bottom: 10px;
    content:"";
}